<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="TestNG Learning">


<test name="Login test">
    <classes>
        <class name="test_1" ></class>  
    </classes>
</test>

<test name="capture screen test">
    <classes>
        <class name="test_2" ></class>  
    </classes>
</test>

</suite>
